.Footer{
    background-color: rgb(182, 178, 172);
    height: 100px;
}
  
.Copyring{
    color: rgb(66, 66, 66);
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
}