.Footer{
    background-color: rgb(69, 67, 62);
    border-top: 2.5px solid rgb(201, 188, 115);
    height: 100px;
}
  
.Copyring{
    color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}