.App {
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  overflow: hidden; /*Чтобы не появлялся скролл в бок*/
}
