.Contacts{
    margin: 25px 10%;
    font-family: 'Spectral', serif;
}

.PhonesBox{
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.Title img{
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
}

.Title h2{
    font-size: 20pt;
    text-align: center;
}

.Phones{
}

.Phones ul{
    font-size: 18px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.TitlePhones{
    font-weight: bold;
}

.FIO{
    color: rgb(128, 128, 128);
}

.ItemPhones{
    text-decoration: none;
    color: rgb(167, 155, 92);
}